<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>

  <appSettings>
    <add key="C" value="0,1,9,16"/>
    <add key="Dm" value="0,0,8,13"/>
    <add key="Em" value="0,9,10"/>
    <add key="F" value="0,0,1,2,3,4,5,8,15,16"/>
    <add key="Am" value="0,1,8,9"/>
    <add key="G7" value="0,0,10,17"/>
    <add key="#Fm" value="2,0,1,2,3,4,5,15,16"/>
    <add key="A" value="0,7,8,9"/>
    <add key="Bm" value="2,0,1,2,3,4,5,7,14,15"/>
    <add key="#Gm" value="4,0,1,2,3,4,5,15,16"/>
    <add key="Gm" value="3,0,1,2,3,4,5,15,16"/>
    <add key="B" value="0,0,1,2,3,4,5,13,14,15"/>
    <add key="G" value="0,"/>
  </appSettings>

</configuration>
